$color__background-body: #0f5abb;
$color__background-screen: #20c5f7;
$color__background-hr: rgb(150, 222, 255);
$color__background-button: #433af7;
$color__background-pre: rgb(2, 106, 66);
$color__background-ins: #09d083;

$color__text-screen: #21759b;
$color__text-input: rgb(2, 56, 170);
$color__text-input-focus: #111;
$color__link: #667bf0;
$color__link-visited: #10b1eb;
$color__link-hover: #67ade2;
$color__text-main: #eeeefa;
$color__text-dark: #151515;
$color__text-light: #f1f1f1;

$color__border-button: #0365bb #b436d7 #bbb;
$color__border-button-hover: #04309f #2d2ddf #2566f2;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
